@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root {
	--page-width: 900px;
	--bg-color: #101010;
	--text-color: #ffffff;
	--heading-color: #ffc799;
}

body {
	margin: 0;
	padding: 0;
	background: var(--bg-color);
	color: var(--text-color);
	display: flex;
	justify-content: center;
	font-family: "Roboto Mono", monospace;
	height: 100%;
}

img {
	filter: grayscale(1);
	width: 100%;
	transition: filter 0.5s ease;
}

img:hover {
	filter: grayscale(0);
}

.page {
	width: 100%;
	max-width: var(--page-width);
	padding: 2rem 1.5rem;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--heading-color);
	margin-top: 2rem;
	margin-bottom: 0.8rem;
	font-style: italic;
	font-family: "Roboto Mono", monospace;
	font-weight: 600;
}

p {
	line-height: 1.6;
	margin: 1.2rem 0;
	font-weight: 400;
}

a {
	color: var(--heading-color);
	font-style: italic;
}

pre{
	padding: 1rem 2rem;
	border: 2px solid var(--text-color);
	border-radius: 4px;
	cursor: pointer;
	user-select: none;
	overflow-x: auto;
	transition: transform 0.5s ease;
}

pre:hover {
	background: rgba(255, 255, 255, 0.05);
	border-color: var(--heading-color);
	transform: scale(1.02);
}
